font-family = -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,Arial,sans-serif
font-code = Consolas, "Liberation Mono", Menlo, Courier, monospace

brand-primary = rgba(14, 187, 108, 0.7)
gray-dark = lighten(rgb(0, 0, 0, 1), 25%)
gray = lighten(rgb(0, 0, 0, 1), 50%)
white-faded = rgba(0, 0, 0, .5)
gray-light = rgb(238, 238, 238, 1)
color-heading = #555
color-border = #eee
color-meta = #999
link-color = #42b983
code-color = #e96900
